{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
  <h1>Edit Page</h1>

  <form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
      <label for="disabledInput">Title:</label>
      <input type="text" class="form-control" id="disabledInput" name="title" placeholder=" {{ entry }} " disabled>
    </div>
    <div class="form-group">
      <label for="editFormControlTextarea">Content:</label>
      <textarea class="form-control" id="editFormControlTextarea" name="content" rows="10">{{ content }}</textarea>  
    </div>
    <button type="submit" class="btn btn-primary mb-2">Save</button>
  </form>
{% endblock %}